.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px 0;
}

.product-animate-enter {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.product-animate-exit {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
