.filter {
  margin-bottom: 0;

  &__list {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

  }

  &__item {
    &:not(:last-child) {
      margin-right: 0.938rem;
    }
  }
}

.active {
  background-color: white !important;
  color: black !important;
}

@media screen and (max-width: 1050px) {
  .filter {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    margin-right: 0.625rem;
  }
}

@media screen and (max-width: 952px) {
  .filter {
    margin-bottom: 0.938rem !important;
  }
}

@media screen and (max-width: 952px) {
  .filter__item {
    margin-bottom: 0.938rem !important;
  }
}