* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #fff;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.938rem;
}

.loading {
    text-align: center;
}