.header {
  padding: 1.25rem 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    flex: 3;
  }

  &__item {
    font-size: 1.125rem;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 0.938rem;
    }
  }

  a {
    color: var(--dark-color);
  }

  &__link {
    color: #000;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--main-blue);
    }
  }

  &__link--active {
    color: var(--main-blue) !important;
  }

  .header-cart {
    border: 2px solid var(--main-blue);
    border-radius: 0.438rem;
    color: var(--dark-color);

    &__total-price {
      position: relative;
      padding: 1.25rem;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 0.125rem;
        height: 0.75rem;
        background-color: var(--main-blue);
      }
    }

    &__total-quantity {
      padding: 1.25rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .header .header-cart {
    display: flex;
    flex-direction: column;

    &__total-price{
      &::after {
        top: 100%;
        width: 100%;
        height: 0.094rem;
      }
    }

    &__total-price,
    &__total-quantity {
      align-self: center;
      padding: 0.313rem;
    }
  }

  .header__list {
    flex-direction: column;
  }
}