.product-item {
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 18.75rem;
    width: 100%;
    padding: 0.625rem;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 0.438rem;
    height: 100%;
  }

  &__image {
    margin-bottom: 1.25rem;
    height: 12.5rem;

    &:hover {
      .product-item__description {
        display: block;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__description {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    max-height: 14rem;
    height: 100%;
    text-align: center;
    padding: 0.625rem;
    color: #fff;
    background-color: rgba(black, 0.6);
    border-radius: 0.438rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: display 0.8s ease-in-out;
  }

  &__title {
    text-align: center;
  }

  &__rate {
    margin-bottom: 0.625rem !important;
  }

  &__price {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }

  .add-btn {
    &__quantity {
      margin-right: 0.625rem;
      padding-left: 0.438rem;
      padding-right: 0.438rem;
      color: var(--dark-color);
      background-color: var(--light-color);
      border-radius: 50%;
    }

    &__title {

    }
  }


}
